@import "mixin"
@import "var"

@import "modules/grid"

//@import "modules/ico"

@import "modules/layout"

@import "modules/txt"
@import "modules/txt-with-ico"

@import "modules/img"

@import "modules/btn"
@import "modules/btn-menu"

//
//@import "modules/form"
//@import "modules/table"

/*------------------------------------------------------------------------

//@import "plugins/lity"
//@import "plugins/selectric"
//@import "plugins/selectric-theme"
//@import "plugins/ekko-lightbox"
//@import "plugins/mec"	//payment gateway

/*------------------------------------------------------------------------

@import "nav/nav"
@import "nav/nav-main"
@import "nav/nav-sub"
@import "nav/nav-media"

/*------------------------------------------------------------------------
@import "blocks/b-feature"	//What is metagaia@home
@import "blocks/b-video"

@import "blocks/b-slider"
@import "blocks/b-slider-game-mode"

/*------------------------------------------------------------------------
@import "sections/s-header"
@import "sections/s-footer"

@import "sections/s-default"
@import "sections/s-hero"
@import "sections/s-what-is-metagaia"
@import "sections/s-upcoming"
@import "sections/s-what-is-meta"
@import "sections/s-roadmap"
@import "sections/s-subscription"

@import "s-hexahero/s-hexahero-hero"
@import "s-hexahero/s-play-to-earn"
@import "s-hexahero/s-select-role"
@import "s-hexahero/s-game-mode"

/*------------------------------------------------------------------------
//@import "modules/ani"		// vp
.wrapper
	overflow: hidden

.h-full
	min-height: 100vh

.img-title
	display: block
	margin: auto
	+bp(m)
		width: 100%
		padding-left: $margin
		padding-right: $margin

	+bp(pc)
		height: 80px
		margin-bottom: $margin

